{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<div class="header-bar">
    <div>
        <h1>Hola {{request.user|title}}</h1>
        <h3>Tienes <i>{{count}}</i> tarea{{count|pluralize:'s'}} pendiente{{count|pluralize:'s'}}.</h3>
    </div>
    {% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Cerra sesión</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Iniciar sesión</a>
    {% endif %}
</div>

<hr>
<h1>ToDo APP</h1>


<form method="POST" action="{% url 'task-create' %}">
    {% csrf_token %}
    <button action="submit">Nueva tarea</button>
</form>

<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}" placeholder="Buscar tareas">
    <input type="submit" value="Buscar">
</form>

<div class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper">
        {% if task.complete %}
        <div class="task-title">
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
        </div>
        <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
        {% else %}
        <div class="task-title">
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task-update' task.id %}">{{task}}</a>
        </div>
        <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
        {% endif %}
    </div>

    {% empty %}
    <h3>No tienes items completados</h3>
    {% endfor %}
</div>

{% endblock content %}


<table>
    <tr>
        <th>Tarea</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'task-update' task.id %}">Editar</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Eliminar</a></td>
    </tr>
    {% empty %}
    <h3>No tienes tareas pendientes</h3>
    {% endfor %}
</table>
